<div class="popup">
	<div class="view view-popup navbar-fixed">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="left"><a href="#" class="link close-popup">Cancelar</a></div>
				<div class="center sliding">
					Consulta Ciudadano
				</div>
				<div class="right agente-save-link"><a href="#" class="link">Registrar</a></div>
			</div>
		</div>
		<div class="page">
			<div class="page-content contact-edit-form">
				<div class="titulo-registro center">
						<h1 class="center">Registro</h1>
				</div>
				<div class="contact-other list-block">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="icon ion-grid"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<input id="identificacion" type="tel" placeholder="Identificación" ">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="icon ion-person"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<input id="nombres" type="text" placeholder="Nombres" >
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="icon ion-person"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<input id="apellidos" type="text" placeholder="Apellidos">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="icon ion-person-stalker"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<input id="fuerza_publica" type="text" placeholder="Fuerza Pública">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="icon ion-person-stalker"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<input id="rango_fp" type="text" placeholder="Rango">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="icon ion-grid"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<input id="id_fp" type="tel" placeholder="ID Fuerza">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="icon ion-email"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<input id="email" type="email" placeholder="Correo electrónico">
									</div>
								</div>
							</div>
						</li>
						<!--li>
							<div class="item-content">
								<div class="item-media"><i class="icon ion-ios7-star-outline"></i></div>
								<div class="item-inner">
									<div class="item-title">Favorite</div>
									<div class="item-after">
										<label class="label-switch">
											<input id="isFavorite" type="checkbox" {{#if model.isFavorite}}checked="on"{{/if}}">
											<div class="checkbox"></div>
										</label>
									</div>
								</div>
							</div>
						</li-->
					</ul>
				</div>
				<div class="item-content">
					<div class="row">
					    <div class="col-20"></div>
					    <div class="col-30"><button class="button btn-aceptar">Aceptar</button></div>
					    <div class="col-20"></div>
					</div>
					<br>
					<div class="row">
					    <div class="col-20"></div>
					    <div class="col-30"><button class="button btn-cancelar">Cancelar</button></div>
					    <div class="col-20"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>