<div class="popup">
	<div class="view view-popup navbar-fixed">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="center sliding">
					Consulta Ciudadano
				</div>
			</div>
		</div>
		<div class="page">
			<div class="page-content consulta-cedula-form">
				<div class="titulo-registro center">
						<h1 class="center">Consulta Ciudadano</h1>
					<!--div class="item-photo">
						<img src="img/cats/{{model.picId}}.png">
					</div-->
				</div>
				<div class="contact-other list-block">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="icon ion-grid"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<input id="identificacion" type="tel" placeholder="Identificación" ">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div class="item-content">
					<div class="row">
					    <div class="col-20"></div>
					    <div class="col-30"><button class="button btn-escanear">Escanear</button></div>
					    <div class="col-20"></div>
					</div>
					<br>
					<div class="row">
					    <div class="col-20"></div>
					    <div class="col-30"><button class="button btn-consultar">Consultar</button></div>
					    <div class="col-20"></div>
					</div>
					<br>
					<div class="row">
					    <div class="col-20"></div>
					    <div class="col-30"><button class="button btn-salir">Salir</button></div>
					    <div class="col-20"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>