<div class="popup">
	<div class="view view-popup navbar-fixed">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="center sliding">
					Consulta Ciudadano
				</div>
			</div>
		</div>
		<div class="page">
			<div class="page-content consulta-cedula-form">
				<div class="titulo-registro center">
						<h1 class="center">Recuperar contraseña</h1>
				</div>
				<div class="contact-other list-block">
					<ul>
						<li>
							<div class="item-content">
								<div class="item-media"><i class="icon ion-grid"></i></div>
								<div class="item-inner">
									<div class="item-input">
										<input id="email-recupera" type="email" placeholder="Correo electrónico" ">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="item-content">
					<div class="row">
					    <div class="col-20"></div>
					    <div class="col-30"><button class="button btn-recupera">Recuperar</button></div>
					    <div class="col-20"></div>
					</div>
					<br>
					<div class="row">
					    <div class="col-20"></div>
					    <div class="col-30"><button class="button back">Salir</button></div>
					    <div class="col-20"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>